*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', 'sans-serif';
   box-sizing: border-box;
}
/* html,body{
   height: 100%;
   width: 100%;
   background-color: #212121;
} */
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;  /* top left-right bottom*/
    padding: 40px 30px 70px;  /* top left-right bottom */
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline:none;
    background: transparent;
    padding: 10px;
    font-weight: 40px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px; /* top-bottom  left-right */
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position:absolute;
    height:28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}

.close {
    position: absolute;
    right: 0;
    top: 20px;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    text-align: center;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 13px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
